# Define shield specific symbols (configuration options/ what i would
# call "configuration variables")

config SHIELD_KAMO_CORNE_MX_LEFT
    def_bool $(shields_list_contains,kamo_corne_mx_left)

config SHIELD_KAMO_CORNE_MX_RIGHT
    def_bool $(shields_list_contains,kamo_corne_mx_right)

# ---
# Note to self:
# def_bool X > 2
# is the same as 
# bool
# default X > 2
# see https://docs.zephyrproject.org/latest/build/kconfig/tips.html
