# Define shield specific symbols (configuration options/ what i would
# call "configuration variables")

config SHIELD_ARDEA_CORNE_LEFT
    def_bool $(shields_list_contains,ardea_corne_left)

config SHIELD_ARDEA_CORNE_RIGHT
    def_bool $(shields_list_contains,ardea_corne_right)

# ---
# Note to self:
# def_bool X > 2
# is the same as 
# bool
# default X > 2
# see https://docs.zephyrproject.org/latest/build/kconfig/tips.html
