# This file sets the the board specific configuration
# see https://docs.zephyrproject.org/latest/build/kconfig/setting.html#initial-conf

if SHIELD_KAMO_CORNE_MX_LEFT

config ZMK_KEYBOARD_NAME
    default "kamo_corne_mx"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_kamo_corne_mx_LEFT

if SHIELD_KAMO_CORNE_MX_LEFT || SHIELD_KAMO_CORNE_MX_RIGHT

config ZMK_SPLIT
    default y

config KAMO_CORNE_MX_RGB_UNDERGLOW
    bool "kamo_corne_mx per Key RGB LEDs"
    default n
    select ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI
    select ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE
    select ZMK_RGB_UNDERGLOW_AUTO_OFF_USB

config KAMO_CORNE_MX_DISPLAY
    bool "kamo_corne_mx OLED Display"
    default y
    select ZMK_DISPLAY
    select I2C
    select SSD1306


if LVGL

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

    
endif # SHIELD_KAMO_CORNE_MX_LEFT || SHIELD_KAMO_CORNE_MX_RIGHT